body {
    background-color: black;
    color: whitesmoke;
  }

.list-items {
  margin: 0px 0px 60px 0px;
}

.card-general {
  text-align: center;
  background-color: #055ada;
  color: white;
  border-radius: 10px;
  margin: 10px 0px;
}

.person-icon {
  padding: 50px 0px;
}

.sponsor {
  border-radius: 10px;
}

.content {
  margin: 20px 0;
}